/* Style sheet for Jamie Cummings Week 05 exercises. WDD 130 */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Abel&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #e5e5e5;
    --accent1-color: #0af4f4;
    --accent2-color: #fc7311;

    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Abel', serif;

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--heading-font);
    font-size: 1.2em;
    color:var(--primary-color);
    background: #fff;
}

header, form, footer {
    margin: 0 auto;
    max-width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: navy;
    text-align: center;
}

form {
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: var(--paragraph-font);
    font-size: 1em;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    width: 100px;
}