/* Style sheet for Jamie Cummings personal page. WDD 130 */

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

header footer{
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: medium;
    font-weight: 700;
}

h1 {
    color: steelblue;
    padding: .5rem;
}

main {
    
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
}

h1 { 
    color: steelblue;
}

p { 
    padding: 0; 
    margin: 1rem;
}

aside {
    width: 20rem;
    /* margin: 1rem; */
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    /* padding: 1rem; */
    /* background-color: #DF9D7C; */
    /* color: #2E2E3A; */
    text-align: center; 
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 140px;
    color: cornsilk;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem; 
    border: 1px solid steelblue; 
    padding: 1rem;
    background-color: azure;
    color: black;
}